<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
                {{#each productos}}
                    <tr>
                        <th>{{this.id}}</th>
                        <td>{{this.title}}</td>
                        <td>${{this.price}}</td>
                        <td><img src={{{this.thumbnail}}} class="img-thumbnail" alt=""></td>
                    </tr>
                {{else}}
                    <p class="empty">No hay productos para mostrar</p>
                {{/each}}
    </tbody>
</table>

<style>
body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
</style>


